body {
  min-width: 1020px;
}

h1 {
  background-color: grey;
  text-align: center;
}

input {
  width: 99%;
}

svg.svg-container {
  margin-top: 5px;
  border: thin solid black;
  margin-right: 5px;
  width: 100%;
  overflow: scroll;
}

div.svg-parent {
  padding-right: 5px;
}

rect {
  fill: darkblue;
}

rect:hover {
  fill: green;
}
